.example-card {
    width: auto;
    background-color: #f6f6f6;
}
  
.example-header-image {
    background-image: url('https://avatars.githubusercontent.com/u/7367927?s=460&u=64c5e8af0978a3e39d26a93522ca8d7c1f1d56e8&v=4');
    background-size: cover;
}

p {
    text-align: justify;
}

a {
    margin: 1px;
}

mat-card-actions {
    text-align: center;
}

mat-card-subtitle {
    font-size: medium;
    font-weight: 400;
}