.example-spacer {
  flex: 1 1 auto;
}

.titulo-perfil{
  padding: 20px;
}

div {
  margin:100px;  
}

h2 {
  padding: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.btnAlterar{
  margin: 4px;
  width: 150px;
  height: 30px;
  border-radius: 5px;
  transition: all 0.2s;
}

.btnAlterar:hover{
  color:#000000;
  background-color:#ccc;
}

footer {
  text-align: center;
  padding: 3px;
  background-color: #ddd;
  color: #777;
  bottom:0;
  width:100%;
}

footer > p > a {
  color: #777;
  text-decoration:none; 
}

body {
  background-color: #f9f9f9;
}